@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin border_radius {
  -moz-border-radius:    50%;
  -webkit-border-radius: 50%;
  border-radius:         50%;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */
aside {
  section.shop_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  @include border_radius
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.products {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .shop {
    margin-top: 5em;
    padding-top: 0;
  }
  .detail {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* product form*/
#product_form {
  margin-left: 10px;
}

/* border of Card */
body > div > div > div > div {
  border: gray solid 1px;
}

/* product details page */
.gallery-wrap .img-big-wrap img {
  height: 450px;
  width: 450px;
  display: inline-block;
  cursor: zoom-in;
}

/* cart shopping */
.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }

  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
}

/* product-list */
.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0 !important;

  /* product */
  .product {
    flex: 0 0 25%;
    max-width: 25%;

    /* product card */
    .product-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      border: none;
      padding-top: 5px;

      h2 {
        font-size: 22px;
        color: black;
        font-weight: bold;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
      }

      .price {
        color: grey;
        font-size: 22px;
        margin-bottom: 0;
      }

      .desc {
        font-size: 22px;
      }

      form {
        max-height: 49px;
        .add-to-cart-button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .product-list {
    .product {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 20px;

      .product-card {
        img {
          height: 190px;
        }

        h2 {
          margin-bottom: 5px;
          font-size: 11px;
        }

        .price {
          font-size: 11px;
        }

        .desc {
          font-size: 11px;
        }

        form {
          height: 39px;
          .add-to-cart-button {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product-list {
    .product {
      .product-card {
        img {
          height: 120px;
        }
      }
    }
  }
}
